@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  color: $textColor;
}

.quest-list,
.item-list {
  width: 30%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.quest-list-item {
  display: flex;
}

// ITEM LIST //
.item-list {
  width: 50%;
  list-style: none;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  .item-data {
    display: flex;
    margin: 0.5rem 0;
    align-items: center;
  }
  // ITEM //
  .item {
    margin-bottom: 2rem;
    .item-name {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .related-quests-upgrades {
      border: 1px solid black;
      .related-list {
        display: flex;
        justify-content: space-between;
        background-color: rgb(41, 34, 28);
      }
    }
  }
}

// SEARCH BAR //
.search {
  margin-top: 2rem;
  margin: auto;
  width: 400px;

  label {
    margin-right: 1rem;
  }

  .searchbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding-left: 0.5rem;
    input {
      width: 400px;
      height: 2rem;
      background-color: #333;
      border: none;
      color: white;
      font-size: 1.2rem;
      padding-left: 0.5rem;
    }

    input:focus {
      outline: none;
    }
  }

  .dropdown {
    background-color: rgb(47, 47, 47);
    cursor: pointer;
  }
}
