@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  color: $textColor;
}

.upgrades-list {
  margin-top: 1rem;
}

.upgrade-list,
.item-list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.upgrade-list {
  width: 50%;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;

  li {
    width: 150px;
  }
  label {
    padding-left: 0.2rem;
  }
}

// .quest-list-item {
//   display: flex;
//   align-items: center;
//   margin-left: 1rem;
// }

// ITEM LIST //
.item-list {
  width: 50%;
  list-style: none;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  .item-data {
    display: flex;
    margin: 0.5rem 0;
    align-items: center;
  }
  // ITEM //
  .item {
    margin-bottom: 2rem;
    .item-name {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .related-quests-upgrades {
      border: 1px solid black;
      .related-list {
        display: flex;
        justify-content: space-between;
        background-color: rgb(41, 34, 28);
      }
    }
  }
}

// SEARCH BAR //
.search {
  margin: 2rem auto;
  width: 50%;

  label {
    margin-right: 1rem;
  }

  .searchbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding-left: 0.5rem;
    input {
      width: 100%;
      height: 2rem;
      background-color: #333;
      border: none;
      color: white;
      font-size: 1.2rem;
      padding-left: 0.5rem;
    }

    input:focus {
      outline: none;
    }
  }

  .dropdown {
    background-color: #333;
    cursor: pointer;
    text-align: left;
    padding-left: 2rem;
  }
}
